.red{
    color: orangered;
}
body{
    font-family: 'Yomogi', cursive;
    margin: 0%;
}
h1{
    font-size: 60px;
    font-weight: 400;
}
.half-width{
    width: 100%;
    padding-left: 5%;
    
}
.half-width img{
    width: 96%;    
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,red);
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700;   
}
.belly-banner{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
}
.box-1{
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px  gray;
    
}
#border-1{
    border-left: 7px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
}
#border-2{
    border-left: 7px solid;
    border-image: linear-gradient(yellow,orange);
    border-image-slice: 1;
}